body {
    font-family: "Poppins";
    background-color: white;
    margin: 0px;
}
.minimalButton {
    background-color: crimson;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.3s;
    height: 40px;
}
.minimalButton:hover{
    background: rgb(2,0,36);
    background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(238,61,30,1) 45%, rgba(147,160,43,1) 100%); 
    transition:step-start;
}
.glassy {
    background-color: black;
    color: white;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 4px;
}

.horizontalFlexBox {
    align-self: left;
    display: flex;
    flex-direction: row;
    padding: 3px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(88, 85, 85, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(88, 85, 85, 0.3);
    padding: 0px;
    width: fit-content;
}
.loginBox {
    width: fit-content;
    align-self: left;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(88, 85, 85, 0.3);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.registerBox {
    color: white;
    width: fit-content;
    align-self: left;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 0, 0, 0.2);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(88, 85, 85, 0.3);

}
.dataEntryHorizontal{
    display: flex;
    flex-direction: row;
    padding: 4px;
    width: 100%;
    height: fit-content;
    align-items: center;
}
.flatInput{
    background: none;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.1s;
    height: 20px;
    margin: 2px;
    border-bottom: 2px solid white;
}
.flatInput:focus{
    border-bottom: 2px solid magenta;
    transition: 0.1s;
    outline: 0;
    height: 20px;
}
.headerBar{
    background-color: grey;
    color: white;
    margin: 0px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation{
    position: relative;
    align-self: center;
}
.navigationLink{
    padding: 10px;
    transition: 0.3s ease-out;
    border-radius: 8px;
}
.navigationLink:hover{
    border-radius: 10px;
    background-color: turquoise;
    color: black;
    transition: 0.3s ease-in;
}
.loginGroup{
    position: absolute;
    right: 0%;
    padding: 10px;
}
.filledButton{
    padding: 10px;
    font-family: inherit;
    background-color: turquoise;
    color: white;
    height: fit-content;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin: 2px;
}
.filledButton:hover{
    background-color: darkturquoise;
}
.unfilledButton{
    padding: 10px;
    font-family: inherit;
    background-color: white;
    color: black;
    height: fit-content;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin: 2px;
}
.unfilledButton:hover{
    background-color: rgba(255,255,255,0.7);
}