body {
    font-family: "Poppins";
    background-color: black;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.minimalButton {
    background-color: crimson;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 0.3s;
    height: 40px;
}
.minimalButton:hover{
    background: rgb(2,0,36);
    background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(238,61,30,1) 45%, rgba(147,160,43,1) 100%); 
    transition:step-start;
}
.glassy {
    background-color: black;
    color: white;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 4px;
}

.horizontalFlexBox {
    align-self: left;
    display: flex;
    flex-direction: row;
    padding: 3px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(88, 85, 85, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(88, 85, 85, 0.3);
    padding: 0px;
    width: fit-content;
}
.loginBox {
    width: fit-content;
    align-self: left;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(88, 85, 85, 0.3);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.registerBox {
    color: white;
    width: fit-content;
    align-self: left;
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 0, 0, 0.2);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(88, 85, 85, 0.3);

}
.dataEntryHorizontal{
    display: flex;
    flex-direction: row;
    padding: 4px;
    width: 100%;
    height: fit-content;
    align-items: center;
}
.flatInput{
    background: none;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.1s;
    height: 20px;
    margin: 2px;
    border-bottom: 2px solid white;
}
.flatInput:focus{
    border-bottom: 2px solid magenta;
    transition: 0.1s;
    outline: 0;
    height: 20px;
}
